#parallax {
  position: relative;
  width: 100vw;
  height: calc(100vh);
  background-image: url("/public/layer1.png"),
    url("/public/layer2.png"),
    url("/public/layer3.png"),
    url("/public/layer4.png"),
    url("/public/layer5.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 110% 110%;
}
h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Arial";
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 70px;
}
