:host {
  display: block;
}

.list {
  border: solid 1px #ccc;
  /* min-height: 80px; */
  /* background: white; */
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.list-item {
  height: 80px;
  height: 80px;;
  padding: 0px 10px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  cursor: move;
  color: white;
  font-size: 14px;
}

.list-item:last-child {
  border: none;
}

/* Highlight the list item that is being dragged. */


/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list {
  height: 100%;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: unset;
}

.cdk-drag-placeholder {
  display: none;
}

/* 
.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  height: 80px;
  width: 80px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
} */