/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/azure-blue.css'; */
// @use "./styles/_theme-colors.scss" as theme-colors;
@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body {
  margin: 0;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}


.no-copy {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
  }